/CheckLogServer/Data
/CheckLogServer/bin
/CheckLogServer/obj
/CheckLogWorker/obj
/CheckLogWorker/bin
/.vs
*.user
*.db
/CheckLogServer/wwwroot/lib
/CheckLogUpdater/obj
/CheckLogUpdater/bin
/CheckLogServer/.config
/CheckLogScheduler/obj
/CheckLogScheduler/bin
/CheckLogUtility/obj
/CheckLogUtility/bin
