/CheckLogServer/Data
/CheckLogServer/bin
/CheckLogServer/obj
/CheckLogServer/*.user
/CheckLogWorker/obj
/CheckLogWorker/bin
/.vs
/CheckLogServer/wwwroot/lib
/CheckLogUpdater/obj
/CheckLogUpdater/bin
/CheckLogServer/*.db
