@page
@model IndexModel

@inject Login login 
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if (login.Success)
    {
        <a asp-page="/Node/Map">
            <img style="width: 400px;" src="~/images/pikachu.png" />
        </a>
    }
    else
    {
        <a asp-page="/Account/Login">
            <img style="width: 400px;" src="~/images/pikachu.png" />
        </a>
    }
</div>
